<h1>Game score</h1>
<h2>Result </h2>
<p> your word <strong> <%= @word %> </strong> <%= @word_valid_english%> <%= @score %> </p>






<strong><%= link_to "Play Again [insert coins] " , new_path %></strong>
